.footer {
    background: rgb(54,69,79);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px 0px 00px 0px;
    padding: 15px;
    overflow: hidden;
}

.footer p {
  color: #C2E7DA;
}



