<h2>Contatti</h2>


Contatti
Compila il modulo per avere informazioni su invasettatrici yogurt professionali della Galli.
Da questa pagina è possibile richiedere informazioni su dosatrici come informazioni su invasettatrici della Galli S.n.c.


Cognome

Nome

Email

Messaggio
Accetto il trattamento dei dati secondo quanto specificato dall'informativa sulla privacy (consultabile qui)
Riempitrici volumetriche contatti
Le nostre dosatrici per salse sono disponibili in diversi formati per soddisfare ogni esigenza.
Il funzionamento delle nostre riempitrici volumetriche è interamente pneumatico e non richiede l'allacciamento alla rete elettrica: le invasettatrici di yogurt Galli risultano quindi particolarmente indicate in ambienti umidi e in presenza di prodotti altamente volatili.
Per maggiori informazioni compila il modulo a seguire

Riempitrici volumetriche informazioni dosatrici salse
Galli informazioni invasettatrici yogurt professionali
