<h2>Dove Siamo</h2>
<hr>
Galli S.n.c. Riempitrici volumetriche lombardia
Galli S.n.c Fornitura dosatrici automatiche industriali professionali

Via Trenca 3
21040 Caronno Varesino (VA)
Tel. & Fax 0331.980064
P. I. 02061560120

E-Mail: info@galli-it.com

Galli S.n.c. è specializzata nella produzione di dosatrici e riempitrici volumetriche, ideali per il dosaggio preciso e veloce di qualunque prodotto (liquido, denso e pastoso).
I sistemi realizzati possono essere indipendenti o componenti di linee automatizzate.
Galli S.n.c assicura la fornitura di dosatrici professionali, che necessitano di manutenzione semplice di facile pulizia.
Le dosatrici volumetriche e le dosatrici automatiche sono costruite in acciaio inossidabile.

Riempitrici volumetriche produzione dosatrici volumetriche
Galli fornitura dosatrici automatiche industriali professionali
