<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <% link_to 'http://dosatrice.it' do %>
        <%= image_tag "/images/logo-galli-snc-small.png" %>
        <span>Dosatrici volumetriche per l'industria</span>
        <% end %>
        </br>
        <p>© <%= Date.today.year %> Galli S.n.c.</p>
        <p>Dosatrici e riempitrici</p>
        <p>Via Trenca, 21040 Caronno Varesino (VA) - Italia - Tel. & Fax 0331.980064 - P.I. 02061560120</p>
        <p>E-Mail: info@galli-it.com</p>
        <p>Privacy policy | Disclaimer</p>
      </div>
    </div>
  </div>
</div>
