<h2>Prodotti</h2>
<hr>

<h3>Create per soddisfare ogni esigenza</h3>
<p>Disponibili in diversi formati, coprono l'intervallo 0-5000 ml per soddisfare ogni esigenza. Il funzionamento è interamente pneumatico e non richiede l'allacciamento alla rete elettrica: risultano quindi particolarmente indicate per operare in ambienti umidi e in presenza di prodotti altamente volatili, dove l'alimentazione elettrica rappresenterebbe un grave pericolo. Siamo inoltre in grado di realizzare macchine riempitrici speciali e linee automatiche di riempimento e confezionamento.

Produzione dosatrici volumetriche industriali professionali
Galli vendita riempitrici volumetriche professionali
Se cerchi una azienda che si occupa della produzione e vendita di riempitrici di produzione italiana certificata, scegli la Galli.
Utilizziamo alluminio anticorodal e per la parte a contatto con il prodotto acciaio inox, per renderle particolarmente adatte per operare e assicurare un elevato livello di igiene.

La pulizia e il lavaggio della macchina è agevole e può essere effettuato tranquillamente mediante vapore.
La particolare costruzione di queste macchine assicura un'elevata flessibilità: è possibile dosare prodotti con caratteristiche di densità e viscosità molto differenti tra di loro mantenendo il medesimo corpo macchina e limitandosi alla sola sostituzione della testa anteriore.
In fase di progettazione si è lavorato per ottenere una macchina versatile, precisa e al tempo stesso semplice. Questa ultima proprietà consente una facile manutenzione, agevolata anche dall'impiego di componenti di tenuta facilmente reperibili sul mercato.
È possibile equipaggiare la macchina con diverse teste anteriori in funzione delle caratteristiche di densità e viscosità del prodotto che si deve dosare.</p>



<h3>Dosatrici volumetriche serie DV</h3>
<p>Galli s.n.c. Progetta, costruisce e distribuisce macchine per il dosaggio di prodotti liquidi, densi e pastosi, con o senza particelle solide in sospensione.
Le dosatrici volumetriche hanno molteplici campi di applicazione: il settore alimentare, chimico e cosmetico, i nostri sistemi assicurano precisione e affidabilità nel tempo.
Il nostro catalogo di vendita riempitrici volumetriche professionali presenta 5 linee di prodotto. Le riempitrici volumetriche della nostra azienda sono dosatrici volumetriche di alto livello perché nella produzione di dosatrici la professionalità nella scelta dei materiali è molto importante.</p>



Applicazioni industriali
Le dosatrici Galli S.n.c. sono ideali per svariati settori industriali:
ALIMENTARE
DOLCIARIA
CONSERVIERA
CASEARIA
COSMETICA
CHIMICA
PETROLCHIMICA
Le nostre macchine consentono
Le nostre macchine consentono numerosi vantaggi:
un preciso e veloce dosaggio di ogni tipo di fluido
la sincronizzazione e l'integrazione di confezionatrici automatiche
l'automazione delle fasi di dosaggio nei nastri trasportatori
il dosaggio di precisione di componenti nei processi chimici
il trasferimento e il dosaggio di prodotti delicati e pericolosi




Ideali per il dosaggio preciso e veloce di qualunque prodotto (liquido, denso e pastoso)
Sistema indipendente o componente di linee automatizzate
Facile pulizia e semplice manutenzione
Costruite in acciaio inossidabile
MODELLO QUANTITÀ  VELOCITÀ  CONSUMO DI ARIA PRESSIONE
DV70  5-70 cc 50 pcs/min  130 l/min 6 bar
DV350 20-350 cc 50 pcs/min  130 l/min 6 bar
DV 600  40-600 cc 40 pcs/min  280 l/min 6 bar
DV1100  70-1100 cc  40 pcs/min  280 l/min 6 bar
DV5000  500-5000 cc 10 pcs/min  440 l/min 6 bar

